@media (max-width:320px){
.santtanera{
	font-size: 3%;
}

.inicio{
 margin-bottom: 10px;
}

.inicioO{
	text-decoration: none;
}

.menu{
	text-decoration: none;
}

.contacto{
	text-decoration: none;
}

}