.tragos{
	width: 90%;
}

.santtanera1{
	color: greenyellow;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.mapa{
	width: 90%;
	height: 30rem;
}

.reloj{
	background-color: green;
}

.bienvenidos{
	background-color: black;
	margin-top: 4.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bienvenidos1{
	background-color: black;
}

.bienvenidxs{
	color: white;
	font-size: 2rem;
}

.botana{
	background-color:black;
	color: black;
}

.titulo{
	font-size: 110rem;
	font-weight: 900;
	color:black;
}

.pedidos{
	background-color: black;
	color: white;
}